nav(role='navigation')
  #menuToggle
    input(type='checkbox')
    span
    span
    span
    ul#menu
        a(href='/')
            li Home
        a(href='/profile')
            li Profile
        a(href='/users')
            li Users
        a(href='/dashboard')
            li Dashboard
        a(href='/logout')
            li Logout