nav(role='navigation')
  #menuToggle
    input(type='checkbox')
    span
    span
    span
    ul#menu
        a(href='/')
            li Home
        a(href='/profile')
            li Perfil
        a(href='/users')
            li Usuarios
        a(href='/dashboard')
            li Trabajos
        form(action="/api/logout", method="post")
            li
                input(id="btn_logout" type="submit", value="LogOut")