footer.footer
    button(class="social_buttons") F. Carella
        i(class="fab fa-github" onclick="window.location.href='https://github.com/fabriziocarella'")
    button(class="social_buttons") M. Martín
        i(class="fab fa-github" onclick="window.location.href='https://github.com/manuelmartin-developer'")