doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title JobApp
    body
        include ./guest_menu.pug
        .container
            input.input(id="input_search", type="text", name="search")
            button.button(id="btn_search") Search
        .cards
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
    script.
        const btn_search = document.querySelector('#btn_search');
        const input_search = document.querySelector('#input_search');
        const cards = document.querySelector('.cards');

        btn_search.addEventListener('click', () => { 
            let getData = async () => {      
            const response = await fetch(`/api/search?query=${input_search.value}`);  
            const data = await response.json();
            return data;
        }
        let renderData = async () => {
        //! REFACTOR
        // Feedback para saber que se está realizando la búsqueda
            Swal.fire({
            title: 'Estamos buscando...',
            html: 'Espera un momento...',
            allowEscapeKey: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading()
            }
            });
            const data = await getData()
            
            //setTimeout(data = {}, 31000);

            // Aquí se crea la tarjeta del job creado (con appendChild)
            //! VER demo clase 20 del 31/08 demo-client/js/utils/paintData
            cards.innerHTML = "";
            const totalJobs = document.createElement('div')
            totalJobs.innerHTML = `Hay ${data.length} elementos en la búsqueda
                        `
            cards.appendChild(totalJobs);
            for (job of data) {
                // Create the Job Card
                const jobCard = document.createElement('div')

                const imageCard =  document.createElement('div')
                const companyImage =  document.createElement('img')
                companyImage.setAttribute('src', job.jobImg )

                const infoCard =  document.createElement('div')
                const jobLink = document.createElement('a')
                jobLink.setAttribute('href', job.jobUrl)
                jobLink.setAttribute('target', '_blank')
                const title =  document.createElement('h3')
                title.innerHTML = job.jobTitle
                const company =  document.createElement('h4')
                company.innerHTML = job.jobCompany
                const location =  document.createElement('h4')
                location.innerHTML = job.jobLocation
                const date =  document.createElement('h4')
                date.innerHTML = job.jobDate

                imageCard.appendChild(companyImage)

                jobLink.appendChild(title)

                infoCard.appendChild(jobLink)
                infoCard.appendChild(company)
                infoCard.appendChild(location)
                infoCard.appendChild(date)

                jobCard.appendChild(infoCard)
                jobCard.appendChild(imageCard)

                cards.appendChild(jobCard);
            }
            //Cerramos alert
            swal.close()
        }
            renderData();
        })
                    