html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/a5b1eae3e6.js" crossorigin="anonymous") 
        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title Sign in
    body
        include ./guest_menu.pug
        .container
            label(for="Email") Email
            input(type="mail" name="email" id="email") 
            label(for="password") Password
            #pass_container
                input(type="password" name="password" id="password") 
                i(id="togglePassword" class="fas fa-eye-slash")
            input(type="submit", value="Sign in")