*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 30%;
}

.input,.button{
    width: 100%;
}
